{% extends "base.html" %}
<head>
    
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    
    <div id="app">
      {% block content %} 
      
      
      
      
      <section id="hero">
      <p>
        <form @submit.prevent ='emailLead'>
				<input type="text" v-model="inputText" placeholder="Please Enter your Name">
				<button type="submit">submit</button>
			  </form>
      </p>

      </section>
      {% endblock  %}
    </div>
    
    
    <script>
      const App = {
        // the data property is a function that returns an object
        data() {
          return {
            inputText:'',
            
          }
           
        },
        methods: {
          emailLead (){


          }
        
        },
         delimiters: ['[[', ']]'],
      
    }
      
      Vue.createApp(App).mount('#app')
    </script>
    
  </body>
  