{% extends "base.html" %}
<head>
    
    <script src="https://unpkg.com/vue@3"></script>
</head>
  <body>
    
    <div id="app">
      {% block content %} 
      
      
       <!--- Hero Section-->
      
      <section id="hero" class="mx-auto font-sans">
        <div class="flex flex-row-reverse pt-56">
         <!--- Lead Generation Form-->
          <div class="basis-1/2 pl-5">
          <h2 class="flex justify-center text-2xl"> Get a free quote </h2>
        <form @submit.prevent ='emailLead' class="text-2xl">
				<label for="firstName">First Name </label>
          <input type="text" v-model="firstName" placeholder="Please Enter your Name">
        <br>
        <label for="email">Email Address </label>
        <input type="text" v-model="email" placeholder="Please Enter your Email Address">
        <br>
        <label for="selected">Please choose # of Dogs</label>
        <select v-model="selected">
          <option disabled value="">Please select one</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>3 +</option>
        </select>
        <br>
        <div class="flex justify-center">
				<button v-on:click="leadsubmission" class="rounded-full bg-orange-200 text-xl font-semibold" type="submit">submit</button>
      </div>
			  </form>
        </div>


      <div class="basis-1/2">
        <h2 class="text-3xl pb-8 text-center">
          Let us Pickup the Poo, so 
          you don't have to! 
          <br>
        </h2>
        <div class="flex justify-center">
      <button class="rounded-full bg-orange-200 font-sans text-xl font-semibold">Learn More</button>
        </div>
      </section>

      <!--- Extra section with image-->
      
      
      <section id="section2" class="pt-20 flex-row">
        <div class="basis-1">
          <div class="flex absolute h-full w-full justify-left pt-40">
          <h3 class="text-white text-center font-bold text-3xl font-sans">Experience a Clean Yard</h3>
        </div>
        <div class="flex">
          <img src="static/dogball.jpg" class="max-w-full h-auto" alt="dog with ball outside"/>
        </div>
      </div>
       
       
       
       
    
       

      </section>

      <section>
        <div class="flex flex-row bg-orange-200 justify-center pt-5">
         <div class="">
          <h3 class="text-4xl font-sans font-semibold"> Our Blog </h3>
        </div> 

 



        </div>

      </section>
      


      {% endblock  %}
    </div>
    
    
    <script>
      const App = {
        // the data property is a function that returns an object
        data() {
          return {
            firstName:'',
            email: '',
            selected: '',
            
          }
           
        },
        methods: {
          emailLead (event){


          }
        
        },
         delimiters: ['[[', ']]'],
      
    }
      
      Vue.createApp(App).mount('#app')
    </script>
    
  </body>
  