{% extends "base.html" %}
{% block content %} 
<head>
  <script src="https://unpkg.com/vue@3"></script>
</head>
  <body>
    
    <div id="app">
       <!--- Hero Section-->
      <section id="section1" class="font-sans p-8">
        <div class="flex sm: w-200 flex-col-reverse lg:flex-row-reverse">
         
          <!--- Lead Generation Form-->
          <div class="basis-1/2 pl-5 bg-slate-50">
          <h2 class="text-center text-2xl py-5"> Get a Free Quote Today </h2>
        <form @submit.prevent ='emailLead' class="text-2xl text-center">
				
          <input class="mb-3"type="text" v-model="firstName" size="30" placeholder="Please Enter your First Name">
        <br>
        
        <input class="mb-3" type="text" v-model="email" size="30" placeholder="Please Enter your Email Address">
        <br>
        <label for="selected">Please choose # of Dogs</label>
        <select v-model="selected" placeholder="Please Enter # of Dogs">
          <option disabled value="">Please select one</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>3 +</option>
        </select>
        <br>
        <div class="flex justify-center mt-4">
				<button @click="resetForm" class="rounded-full bg-amber-600 text-xl font-semibold px-4 py-2" type="Submit">Submit</button>
      </div>
			  </form>
        </div>


      <div class="basis-1/2 pt-6 bg-green-400">
        <h2 class="text-3xl pb-8 text-center font-bold">
          Let us Pickup the Poo, so 
          you don't have to! 
          <br>
        </h2>
        <div class="flex justify-center pt-6">
      <button class="rounded-full bg-amber-600 font-sans text-xl font-semibold px-4 py-4">Learn More</button>
        </div>
      </section>

      <!--- Extra section with image-->
      <section id="section2" class="pt-20">
        <div class="container">
        <h3 class=" text-white font-bold text-3xl font-sans absolute pl-10 mt-24">Experience a Clean Yard</h3>  
          <img src="static/dogball.jpg" class="object-contain shadow-sm rounded-xl" alt="dog with ball outside"/>
          </div>
    </section>
       
       
       
    
       
<!--- Blog w/content-->
      <section id="section3" class=" bg-amber-600">
        
         <div class="flex justify-center pt-14">
          <h3 class="text-4xl font-sans font-bold">  Articles + Tips </h3>
        </div>
        <div class="flex pt-5 px-5 py-5 flex-row space-x-4 justify-evenly">
          
            
              <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md light:bg-white dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-md object-contain h-15 w-95" src="/static/dogcar.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-black">Sample Blog Article</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Learn Everything you'd like to learn about our waste removal services</p>
                    <a href="#" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Read more
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </div>
            
            
              <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md light:bg-white dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-md object-contain h-15 w-95" src="/static/dogcar.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-black">Sample Blog Article</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Learn Everything you'd like to learn about our waste removal services</p>
                    <a href="#" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Read more
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </div>
            

            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md light:bg-white dark:border-gray-700">
              <a href="#">
                  <img class="rounded-t-md object-contain h-15 w-95" src="/static/dogcar.jpg" alt="" />
              </a>
              <div class="p-5">
                  <a href="#">
                      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-black">Sample Blog Article</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Learn Everything you'd like to learn about our waste removal services</p>
                  <a href="#" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Read more
                      <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>
              </div>
          </div>
          
  
          


        </div>
      

 <!--- Referrel -->
      </section>
      
      <section id="referrel">
        <div class="bg-green-400 flex-auto pt-10">
          <div class="text-center font-sans text-4xl py-10 font-bold">
          <span>Refer your neighbor and earn $5 off your next service! </span>
        </div>
        </div>


      </section>
      

      <section id="chochlate lab">
        <div class="flex flex-auto">
          <img src="/static/dogpic3.jpg" alt="chocolate lab with tongue out"/>
        </div>
        
      </section>


    
    
    <script>
      const App = {
        // the data property is a function that returns an object
        data() {
          return {
            firstName:'',
            email: '',
            selected: '',
            leadList: [],
            
          }
           
        },
        methods: {
          emailLead (event){
            let lead = {
              leadName: this.firstName,
              leadEmail: this.email,
              numDogs: this.selected
            }
            this.leadList.push(lead)
            console.log(lead)
            console.log(this.leadList)



          }
        
        },
         delimiters: ['[[', ']]'],
      
    }
      
    Vue.createApp(App).mount('#app')
    </script>
    {% endblock content %}
    
  </body>
  