{% extends "base.html" %}
{% block content %} 
<h1 class="font-sans text-center py-10 font-bold text-5xl">Checkout our Easy to Understand Pricing </h1>
<div class="flex justify-center text-2xl py-20 bg-white">
    <table class="table-auto">
        <thead>
          <tr>
            <th># of Dogs</th>
            <th>Visit Frequency</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>once a week</td>
            <td>$39.99 monthly</td>
          </tr>
          <tr>
            <td>2</td>
            <td>once a week</td>
            <td>$47.99 monthly</td>
          </tr>
          <tr>
            <td>3</td>
            <td>once a week</td>
            <td>$50.99 monthly</td>
          </tr>
        </tbody>
      </table>
</div>

 <!--- Referrel -->
</section>
      
<section id="referrel">
  <div class="bg-green-400 flex-auto pt-10">
    <div class="text-center font-sans text-4xl py-10 font-bold">
    <span>Refer your neighbor and earn $5 off your next service! </span>
  </div>
  </div>


</section>





{%endblock%} 

